body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0; /* Default background color */
}

.rotate-message {
    display: none; /* Initially hidden, shown only in portrait mode */
    font-size: 40px; /* Increased size */
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    display: none; /* Initially hidden, shown only in landscape mode */
    position: relative;
}

#video {
    height: 70vh; /* 70% of the viewport height */
    width: auto; /* Maintain aspect ratio */
    border: 1px solid black;
}

.control-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#recordButton, #reloadButton, #timer {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Landscape mode */
@media screen and (orientation: landscape) {
    body {
        background-color: green; /* Green background in landscape */
    }
    #container {
        display: block;
    }
    .rotate-message {
        display: none;
    }
}

/* Portrait mode */
@media screen and (orientation: portrait) {
    body {
        background-color: red; /* Red background in portrait */
    }
    #container {
        display: none;
    }
    .rotate-message {
        display: flex;
    }
}
