body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    display: none; /* Initially hidden, shown only in landscape mode */
}

#video {
    height: 70vh; /* 70% of the viewport height */
    width: auto; /* Maintain aspect ratio */
    border: 1px solid black;
}

.control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#recordButton, #reloadButton, #timer {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.rotate-message {
    display: none; /* Initially hidden, shown only in portrait mode */
    font-size: 20px;
    text-align: center;
}

/* Landscape mode */
@media screen and (orientation: landscape) {
    #container {
        display: block;
    }
    .rotate-message {
        display: none;
    }
}

/* Portrait mode */
@media screen and (orientation: portrait) {
    #container {
        display: none;
    }
    .rotate-message {
        display: block;
    }
}
