body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    display: none; /* Initially hidden, shown only in landscape mode */
}

#video {
    height: 70vh; /* 70% of the viewport height */
    width: auto; /* Maintain aspect ratio */
    border: 1px solid black;
}

#recordButton, #reloadButton, #timer {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.rotate-message {
    display: none; /* Initially hidden, shown only in portrait mode */
    font-size: 20px;
    text-align: center;
}

/* Styles for landscape mode */
@media screen and (orientation: landscape) {
    #container {
        display: block; /* Show container in landscape mode */
    }
    .rotate-message {
        display: none; /* Hide rotate message in landscape mode */
    }
}

/* Styles for portrait mode */
@media screen and (orientation: portrait) {
    #container {
        display: none; /* Hide container in portrait mode */
    }
    .rotate-message {
        display: block; /* Show rotate message in portrait mode */
    }
}
